<div>
  <div class="container search-container">
    <div style="display: flex">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="col search-bar">
          <mat-form-field style="width: 80%" appearance="outline">
            <mat-label>Search</mat-label>
            <input
              class="serch-input"
              matInput
              [(ngModel)]="searchInput"
              placeholder="Enter event name.."
            />
            <span (click)="searchSubmit()" matSuffix
              ><img src="../../assets/images/searchIcon_l.png"
            /></span>
          </mat-form-field>
        </div>
        <div class="w-100"></div>

        <div
          class="col-xm-12 col-sm-12 col-md-12"
          *ngIf="
            searchResultEvent !== undefined &&
            searchResultEvent.length > 0 &&
            !searchError
          "
        >
          <mat-card class="search-result-table">
            <mat-card-title style="text-align: center">
              Search Results
            </mat-card-title>

            <mat-card-content>
              <table class="table">
                <tbody>
                  <tr
                    *ngFor="let elem of searchResultEvent; let i = index"
                    style="margin: 10px 0px !important"
                  >
                    <td>
                      <mat-card
                        (click)="onClick(elem)"
                        class="mat-elevation-z4 clickable-mat-card"
                      >
                        <mat-card-content class="card-container">
                          <mat-label>{{ elem.content }}</mat-label>
                          <mat-label>{{ elem.city }}</mat-label>
                          <mat-label>{{ elem.category }}</mat-label>
                        </mat-card-content>
                      </mat-card>
                    </td>
                  </tr>
                </tbody>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
        <div
          *ngIf="
            searchResultEvent === undefined ||
            searchResultEvent.length == 0 ||
            searchError
          "
          class="col-xm-12 col-sm-12 col-md-12"
        >
          <table>
            <tbody>
              <tr style="margin: 10px 0px !important">
                <td>
                  <mat-card>
                    <mat-card-content class="card-container">
                      <mat-label>No Record(s) to display</mat-label>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div
        class="search-filter mat-elevation-z4"
        style="background-color: white"
      >
        <h3 style="margin-left: 28px; margin-top: 5px; font-weight: bold">
          Refine Your Search
        </h3>
        <div style="padding: 10px">
          <mat-form-field appearance="outline" style="width: 180px">
            <mat-label>Date</mat-label>
            <input
              matInput
              [(ngModel)]="dateInput"
              placeholder="Choose a date"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 180px">
            <mat-label>News Category</mat-label>
            <mat-select [(value)]="newsCategory">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let elem of newsCategoryList" value="elem">{{
                elem
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 180px">
            <mat-label>City</mat-label>
            <mat-select [(value)]="cityInput">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let elem of cityList" value="elem">{{
                elem
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
