<div class="container">
  <div style="display: flex;">
    <mat-card style="width: 100%; height: 100%;">
      <mat-card-title style="text-align: center;"
        >Location Details</mat-card-title
      >
      <mat-card-content>
        <div class="card-content">
          <mat-label>City</mat-label>
          <mat-label>{{ locationDetails.city }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>County</mat-label>
          <mat-label>{{ locationDetails.county }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>State</mat-label>
          <mat-label>{{ locationDetails.state }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>Covid Confirmed Cases</mat-label>
          <mat-label>{{ locationDetails.covidConfirmedCases }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>Covid Death</mat-label>
          <mat-label>{{ locationDetails.covidDeaths }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>Min Temperature</mat-label>
          <mat-label>{{ locationDetails.minTemperature }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>Max Temperature</mat-label>
          <mat-label>{{ locationDetails.maxTemperature }}</mat-label>
        </div>
      </mat-card-content>
      <!-- <mat-card-content>
          <table>
            <tbody>
              <tr></tr>
              <tr>
                <td>Content</td>
                <td>mai content huuun!</td>
                <td></td>
                <td>Date</td>
                <td>12/10/2021</td>
              </tr>
              <tr>
                <td>City</td>
                <td>Tempe</td>
                <td></td>
                <td># of Comments:</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Score</td>
                <td>4</td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
        </mat-card-content> -->
    </mat-card>
  </div>
  <!-- <div>
      <table>
        <tbody>
          <tr>
            <td>Event Content</td>
            <td>Asjdlaksjdlksad</td>
          </tr>
          <tr>
            <td>Event Content</td>
            <td>Asjdlaksjdlksad</td>
          </tr>
        </tbody>
      </table>
    </div> -->
</div>
