<div class="container">
  <div style="display: flex">
    <mat-card style="width: 100%; height: 100%">
      <mat-card-title style="text-align: center"
        >Location Details</mat-card-title
      >
      <table class="table table-stripped">
        <tbody>
          <tr>
            <td>City</td>
            <td>{{ data.city }}</td>
          </tr>
          <tr>
            <td>County</td>
            <td>{{ data.county }}</td>
          </tr>
          <tr>
            <td>State</td>
            <td>{{ data.state }}</td>
          </tr>
          <tr>
            <td>Covid Cases</td>
            <td>{{ data.covidConfirmedCases }}</td>
          </tr>
          <tr>
            <td>Covid Deaths</td>
            <td>{{ data.covidDeaths }}</td>
          </tr>
          <tr>
            <td>Min Temperature</td>
            <td>{{ data.averageMinTemp }}</td>
          </tr>
          <tr>
            <td>Max Temperature</td>
            <td>{{ data.averageMaxTemp }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <mat-card-content>
        <div class="card-content">
          <mat-label>City</mat-label>
          <mat-label>{{ data.city }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>County</mat-label>
          <mat-label>{{ data.county }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>State</mat-label>
          <mat-label>{{ data.state }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>Covid Confirmed Cases</mat-label>
          <mat-label>{{ data.covidConfirmedCases }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>Covid Death</mat-label>
          <mat-label>{{ data.covidDeaths }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>Min Temperature</mat-label>
          <mat-label>{{ data.averageMinTemp }}</mat-label>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="card-content">
          <mat-label>Max Temperature</mat-label>
          <mat-label>{{ data.averageMaxTemp }}</mat-label>
        </div>
      </mat-card-content>       -->
    </mat-card>
  </div>
</div>
